body {
    /* Typography Declarations */
    color: #222222;
    font-size: 13px;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    background-image: linear-gradient(
                       rgba(255,255,255, .85),
                       rgba(255,255,255, .85)),
                       url('../src/doodle.jpg');
    background-size: cover;
}

.contacticon{
  width: 30px;
  height: 30px;
}


.masthead {
  padding: 6em;
  background-image:linear-gradient(
                     rgba(0,0,20,.65),
                     rgba(0,0,0,.65)),
                     url('../src/bg.jpg');
  border-bottom: solid 1em #9C51B6;
  background-size: cover;
}


.masthead-heading {
    color: #F1C863;
    margin-top: 2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 5em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

/* Avatar profile picture*/
.avatar {
  display: block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;

}

.circledecor1{
  display: block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FC5A8D;
}
.circledecor2{
  display: block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color:#02A4D3 ;
}
.circledecor3{
  display: block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FFE4CD;
}

@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    text-align: justify;
    font-size: 30px;
    margin: 50px;
  }

  .type1 {
     grid-column: 1;
     grid-row: 1/ span 2;
  }

  .type2 {
    grid-column:  2/ span 2;
    grid-row: 1;
  }

  .type3 {
    grid-column: 2;
    grid-row: 2;
  }

  .type4 {
    grid-column: 3;
    grid-row: 2;
  }
}

.type1 {
  background-color: #FFFFFF;
  border: 15px solid #84DE02;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 120px

}

.type2 {
  background-color: #FFFFFF;
  border: 15px solid #E936A7;
  padding: 30px;
}

.type3 {
  background-color: #FFFFFF;
  border: 15px solid #FF8C00;
  padding: 20px;
}

.type4 {
  background-color: #FFFFFF;
  border: 15px solid #76D7EA;
  padding-top:  20px;
  padding-right:  20px;
  padding-left:  20px;
  align: start;
}

p {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1em;
}
h1{
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

ul, li {
  display:inline-block;
}

.centering{
  display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
